h1{
    text-align: center;
}

div.register{
    display: block;
    border-radius: 10px;
    border: 3px #d0d0d0 solid;
    background-color: #ffffff;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 7px 7px #cac6c6;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    padding: 14px 18px;
    box-sizing: border-box;

}
p{
    margin-left: 50px;
}
p.error{
    color: red;
}

.success{
    color: #158600;
}

button{
    color: #fff;
    background-color: goldenrod;
    width: 200px;
    height: 30px;
    margin-left: 35%;
}
