<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css_templates/registerStyle.css' %}">
<body>
<div class="register">
    <h1> Create account </h1>
    <form method='POST'> {% csrf_token %}
        {% for message in messages %}
            <li class="success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% for field in form%}
            {% for error in field.errors %}
                 <p class="error">{{ error }}</p>
            {% endfor %}
        <p>
            {{field.label_tag}}<br>
            {{field}}
        </p>
        {% endfor %}
        <br><br>
        <button type= 'submit' class="button" >Register</button>
    </form>
</div>
</body>
</html>