{% extends "base/base.html" %}

{% block content %}

<div class="add_item" style="text-align: center;">
    <form method='POST' enctype="multipart/form-data"> {% csrf_token %}
        {% for field in form%}
             <p>
                {{field.label_tag}}<br>
                {{field}}
            </p>
        {% endfor %}
        <div class='md-6'>
            <label>Upload</label><br>
            <input required name="images" type="file" multiple class="form-control-file">
        </div>
        <br>
        <button type= 'submit' class='btn btn-primary'>Add Item</button>
    </form>
    </div>
{% endblock %}