{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css_templates/card.css' %}">
<div class="card" style="width: 20rem;">
    <div class=".card-img-top">
    <a>
   <img src={{instance.images.first.source.url}} class="card-img-top" alt="{{instance.name}}">
    </a>
      <div class="card-body">
    <h5 class="card-title">{{instance.title}}</h5>
    <p class="card-text">{{instance.description | truncatewords:9}}</p>
<!--    <a href="{{instance.get_absolute_url}}" class="btn btn-primary">VIEW</a>-->
    <a href="{% url 'items:details' Category=instance.Category %}" class="btn btn-primary">VIEW</a>
  </div>
</div>
</div>
