{% extends "cart/main.html" %}

{% block checkout %}
{% if cart.items.exists %}

<H3 style="text-align: center">Shipping address: {{ cart.user.locations.last}}</H3>
<br><br>
<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Smart Payment Buttons Integration | Client Demo </title>
</head>

<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<body>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"  style="text-align: center"></div>


    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: "{{cart.total}}"
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    $.ajax({
                        url: "{% url 'cart:checkout' %}",
                        method: 'PUT',
                        dataType: 'json',
                        data: {'cart_id': '{{cart.pk}}'},
                        success: function(response) {
                          window.location.href = '/';
                        }
                    });
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');

                });
            }


        }).render('#paypal-button-container');
    </script>
</body>
{% endif %}
{% endblock %}