{% extends "base/base.html" %}
{% load quantity_tag %}

{% block content %}
<h1 class="mb-5">{{title}}</h1>
{% if order_list.exists %}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Order number</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for order in order_list %}
    <tr>
      <td><a href="{{order.get_absolute_url}}">{{order.pk}}</a>
      </td>
      <td>{{order.updated}}</td>
      <td>${{order.total}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<H2>No orders</H2>
{% endif %}
{% endblock %}
