{% url 'items:item_list' as item_list %}
{% url 'users:login_page' as login_page %}
{% url 'users:register_page' as register_page%}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css_templates/navbar.css' %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">{{name}}
      {% load static %}
    <img src="{% static 'img/basketicon.png' %}" alt="" width="30" height="30" class="basketicon">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == item_list %}active{% endif %}" href="{{item_list}}" tabindex="-1" aria-disabled="true">Home</a>
        </li>
         {% if request.user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link " href="{% url 'users:logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
          {% else %}
         <li class="nav-item">
          <a class="nav-link " href="{{login_page}}" tabindex="-1" aria-disabled="true">Login</a>
        </li>
          {% endif %}
          <li class="nav-item">
          <a class="nav-link " href="{{register_page}}" tabindex="-1" aria-disabled="true">Register</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"></a></li>
            <li><a class="dropdown-item" href="#"></a></li>
          </ul>
         </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
      </ul>
      {% include 'Items/search-form.html'%}
    </div>
  </div>
</nav>